@import '../../../../../variables.scss';

h3 {
  margin-bottom: .5em;
}

.gineco,
.obst {
  color: $Cafe;
  padding: 0vh 2em;
  cursor: default;
  @include flex-column-between();

  .header {
    width: 100%;
    padding-top: 2vh;
    @include flex-between();

    h1 {
      @include flex-between();

      .icons {
        width: 2.5em;
        padding-left: 1em;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;

        @include colors();
      }
    }

    .div {
      @include flex-between();

      .fecha {
        height: fit-content;
        font-weight: 500;
        margin-right: 5em;
        transition: .2s all ease;

        &:hover {
          font-weight: 700;
        }
      }

      .close {
        height: fit-content;
        cursor: pointer;
      }
    }
  }
}

.gineco {
  height: 100%;

  .content {
    height: 56vh;
    @include flex-between();

    .left {
      width: 30%;
      height: 100%;

      @include flex-column-between();
      @include card();
      background-color: $RosaP;

      .historia,
      .estado,
      .comentarios {
        height: 30%;

        div {
          margin-bottom: .5em;
        }
      }
    }

    .right {
      width: 60%;
      height: 100%;
      padding: 1em 0em;
      @include flex-column-between();

      .first,
      .second,
      .third {
        height: 30%;

        @include flex-between();

        .mamas,
        .genitales,
        .genExt,
        .cervix {
          width: 43%;
          padding: 1em;
          @include card();
          background-color: $RosaP;

        }
      }

      .third {

        padding: 1em;
        @include card();
        background-color: $RosaP;

        .utero,
        .impresion,
        .colpos {
          overflow: auto;
          width: 30%;
        }
      }
    }
  }
}

.obst {

  .content {
    @include flex-between();
    width: 100%;
    height: 69vh;

    h4,
    h3 {
      font-weight: 600;
      margin-bottom: .2em;
    }

    .top,
    #fechas,
    #fisico,
    #gineco,
    #obste {
      @include card();
      background-color: $RosaP;
    }

    .left,
    .right {
      @include flex-column-between();
      align-self: flex-end;
      height: 95%;
    }

    .left {
      width: 35%;

      .top,
      .bottom {
        width: 100%;
        @include flex-column-between();
      }

      .top {
        height: 40%;

        .div {
          width: 100%;
          height: 32.5%;
        }
      }

      .bottom {
        height: 50%;

        #fechas,
        #pesos {
          @include flex-column-between();
          align-content: flex-start;
        }

        #fechas {
          width: 100%;
          padding-bottom: 1em;

          .fechas {
            width: 100%;
            height: fit-content;
            @include flex-between();

            h4 {
              margin-bottom: 0em;
            }
          }
        }

        .calc {
          width: 100%;
          padding: 1em 2em;

          display: flex;
          justify-content: space-evenly;

          .dias {
            height: 100%;
            padding: 0em 2em;

            @include flex-column-between();

            div {
              font-weight: 600;

              @include flex-column-between();

              span:hover {
                background-color: $RosaP;
                transition: .2s all ease;
              }
            }
          }

          #pesos {

            #pAntes,
            #pDespues {
              width: 100%;

              h4 {
                text-align: center;
              }

              span {
                padding: 0em .3em;

                &:nth-child(3) {
                  border-left: 1px solid $BckG;
                  border-right: 1px solid $BckG;
                }
              }
            }
          }
        }
      }
    }

    .right {
      width: 60%;
      flex-direction: row;

      .left {
        width: 30%;
        text-align: center;
        margin: 0em 2em;
        height: 100%;
        @include flex-column-between();

        #fisico {
          height: 50%;
          @include flex-column-between();

          .div3 {
            display: flex;
            justify-content: space-evenly;
          }
        }

        #gineco {
          height: 35%;
        }
      }

      #obste {
        width: 60%;
        @include flex-column-between();
      }
    }
  }
}
