.container{

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header{
    width: 100%;
    height: 10%;
    margin-bottom: 3%;

    display: flex;
    justify-content: space-between;
  }
  .content{
    display: flex;
    justify-content: space-between;
    height: 100%;

    .left{
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .right{
      width: 60%;
      height: 100%;

      .first,
      .second,
      .third{
        display: flex;
        justify-content: space-between;

        .mamas,
        .genitales,
        .genExt,
        .cervix {
          width: 47%;
        }

        .utero,
        .impresion,
        .colpos{
          width: 32%;
        }
      }
    }
  }

  h3{
    margin-top: 1em;
    margin-bottom: 0cm;
    padding-bottom: 0cm;
  }
}
