<div class="container">

  <div class="header">
    <h2>Which kind of cita do you want to register?</h2>

    <span
      mat-dialog-close
      class="close"
    >
      <mat-icon color='warn'>cancel</mat-icon>
    </span>
  </div>

  <div class="footer">

  <button
    color='primary'
    mat-flat-button
    mat-dialog-close
    (click)='citaGineco(data.id)'
    routerLink="/citas/addCitaGineco"
  >
    Gineco
  </button>

  <button
    mat-flat-button
    color='primary'
    mat-dialog-close
    (click)='citaObst(data.id, data.gestas)'
    routerLink="/citas/addCitaObst"
  >
    Obst
  </button>

  </div>
</div>
