@import '../../../../variables.scss';

.container{
  height: auto;

  display: flex;
  justify-content: space-between;

  .img{

    height: 92.5vh;
    width: 50%;
    background-position: bottom;
    background-image: url('../../../../assets/DoctoraAzul.svg');
    background-size: cover;
    background-repeat: no-repeat;

    align-self: flex-end;
  }

  .homeCard, .signin, .signup{
    width: 50%;
    display: flex;
    justify-content: flex-start;

    mat-card{
      color: $Cafe;

      min-width: 20em;
      margin: 2em;
      align-self: center;

      mat-card-header{
        mat-card-title{
          padding-bottom: .3em;

          h1{
            text-align: center;
            font-size: 1.5em;
          }
        }
      }

      mat-card-content{
        text-align: center;
        font-size: 1.2em;
        margin: 0em 1em;
        padding-bottom: .3em;
      }

      mat-card-actions{

        padding-bottom: 1em;

        display: flex;
        justify-content: space-evenly;
        div{
          width: 100%;
          display: flex;
          justify-content: space-evenly
        }
      }
    }
  }

  .signin, .signup {
    @include colorsBtn();

    .mat-card{
      width: 60%;

      .mat-card-content{
        form{

          @include flex-column-between();
          align-items: center;

          .mat-form-field{
            width: 90%;
          }
        }
      }

      .mat-card-actions{

        width: 100%;
        margin: 0em;
      }
    }
  }

  .signup {
    .mat-card{
      .mat-card-content{
        @include flex-column-between();
        align-items: center;

        form{
          width: 100%;
          margin-top: 2em;
        }

        .mat-form-field{
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 1100px){

.container{

  height: auto;

    flex-direction: column-reverse;

    .img{
      height: 60vh;
      min-height: 45vh;
      align-self: center;
    }

    .homeCard, .signin, .signup{
      width: 60%;
      justify-content: center;
      align-self: center;
      margin-top: 2em;

      mat-card{
        width: 100%;
        padding-left: 0em;
        padding-right: 0em;
        display: flex;
        flex-direction: column;

        mat-card-header{
          align-self: center;
          mat-card-title{

            h1{
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
