<mat-toolbar color="primary">

  <h1
    routerLink="home"
  >ConsultorioApp</h1>

  <div class="div">
    <app-autocomplete *ngIf="authService.loggedIn()"></app-autocomplete>

    <button
      mat-flat-button
      [matMenuTriggerFor]="pacientes"
      color="primary"
      *ngIf="authService.loggedIn()"
    >
      Patients
    </button>

    <mat-menu #pacientes="matMenu" xPosition="before">
      <a
        mat-menu-item
        routerLink="pacientes"
        routerLinkActive="active"
      >
        Patients
        <mat-icon>assignment_ind</mat-icon>
      </a>
      <a
        mat-menu-item
        routerLink="pacientes/addPaciente"
        routerLinkActive="active"
        (click)="clearAll()"
      >
        Add Patient
        <mat-icon>add_circle</mat-icon>
      </a>
    </mat-menu>

    <button
      mat-flat-button
      [matMenuTriggerFor]="login"
      class="add"
      *ngIf="!authService.loggedIn()"
    >
      Login
    </button>

    <button
      mat-flat-button
      class="add"
      *ngIf="authService.loggedIn()"
      (click)='logOutUser()'
    >
      Logout
    </button>

    <mat-menu #login="matMenu">
      <a
        mat-menu-item routerLink="auth/signin"
        routerLinkActive="active"
      >
        Login
        <mat-icon>arrow_forward</mat-icon>
      </a>
      <a
        mat-menu-item routerLink="auth/signup"
        routerLinkActive="active"
      >
        SignUp
        <mat-icon>account_circle</mat-icon>
      </a>
    </mat-menu>
  </div>

</mat-toolbar>
