@import '../../../../variables.scss';

h1 {
  text-align: center;
  font-size: 4em;
  padding: 1em;
}

form {
  padding: 5% 12%;
  padding-bottom: 3%;

  .row {
    align-self: center;
    margin-bottom: 2em;

    @include flex-between();

    mat-form-field {
      width: 28%;
    }

    .apellido,
    .nombre {
      width: 32%;
    }

    .textarea {
      width: 45%;
    }

    .gestas,
    .paras,
    .abortos,
    .cesareas,
    .seguimiento,
    .menorrea,
    .ciclos,
    .otros,
    .menopausia,
    .menarquia,
    .menopausia,
    .ginecoPRS{
      align-self: center;
      width: 15%;
    }

    .error {
      color: $Blanco;
      width: fit-content;
      background-color: $Rojo;
    }

    .group {
      @include flex-between();

      button {
        height: fit-content;

        &:nth-child(2){
          margin-left: 2em;
        }
      }

      #desk{
        display: inline-block;
      }
      #movil{
        display: none;
      }

    }
  }
}

h2,h3{
  margin: 1em 0em 1.5em 0em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

@media (max-width: 1000px){

  form{
    .footer{
      width: 100%;
      margin-top: 2em;
      @include flex-column-between();
      flex-direction: column-reverse;
      align-items: center;

      .group {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {

          margin-top: 1em;
          height: fit-content;

          &:nth-child(2){
            margin-left: 2em;
          }
        }

        #desk{
          display: none;
        }
        #movil{
          display: inline-block;
        }
      }

      .error{
        width: fit-content;
        text-align: center;
      }
    }
  }
}


@media (max-width: 800px){

  form{
    .row{
      @include flex-column-between();

      .mat-form-field{
        width: 100%;
      }
    }

    .div{
      @include flex-between();

      .row{
        width: 45%;
        height: 100%;
        mat-form-field{
          width: 100%;
        }
      }
    }

    .footer{
      width: 100%;
      margin-top: 2em;
      @include flex-column-between();
      flex-direction: column-reverse;
      align-items: center;

      .group {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {

          margin-top: 1em;
          height: fit-content;

          &:nth-child(2){
            margin-left: 2em;
          }
        }

        #desk{
          display: none;
        }
        #movil{
          display: inline-block;
        }
      }

      .error{
        width: fit-content;
        text-align: center;
      }
    }

    h2,h3{
      text-align: center;
    }

    h3{
      margin-bottom: 0em;
    }
  }
}

@media(max-width: 600px){
  .container{
    h1{
      padding: 0em;
      font-size: 2.5em;
      line-height: 2.5em;
    }
  }
}
