h1{
  text-align: center;
  font-size: 4em;
  margin: 1em;
}

form{
  margin: 5% 12%;
  padding-bottom: 3%;

  .row {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 2em;

    mat-form-field {
      width: 28%;
    }

    .apellido,
    .nombre {
      width: 32%;
    }

    .textarea {
      width: 45%;
    }

    .gestas,
    .paras,
    .abortos,
    .cesareas,
    .seguimiento,
    .menorrea,
    .ciclos,
    .otros,
    .menopausia,
    .menarquia,
    .menopausia{
      align-self: center;
      width: 15%;
    }

    .error{
      color: white;
      width: fit-content;
      background-color: #f44336;
    }

    .group{
      width: 25%;
      display: flex;
      justify-content: space-between;

      button{
        height: fit-content;
      }
    }
  }
}

h2{
  font-size: 2.5em;
  margin: 1em 0em 1.5em 0em;
}

h3{
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
