<form #pacienteForm="ngForm" (ngSubmit)="addPaciente(pacienteForm)">
  <div class="row">

      <mat-form-field appearance="outline" class="input nombre">
        <mat-label>Nombre</mat-label>
        <input
        matInput
        type="text"
        class="form-control"
        name="nombre"
        [(ngModel)]="pacienteService.selectedPaciente.nombre"
        autofocus>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input apellido">
        <mat-label>Apellido</mat-label>
        <input
        matInput
        type="text"
        class="form-control"
        name="apellido"
        [(ngModel)]="pacienteService.selectedPaciente.apellido">
      </mat-form-field>

      <div class="radio">
        <mat-label>Seguimiento </mat-label>
        <mat-radio-group [(ngModel)]="pacienteService.selectedPaciente.apellido">
          <mat-radio-button value="true">Sí</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

  </div>

  <div class="row">

  </div>
</form>
