<div class="container">

  <div *ngIf="pacienteService.pacientes.length === 0">
    <div class="no-pacientes">

      <h1>Aun no tienes pacientes registradas</h1>

      <a
        mat-flat-button
        routerLink="addPaciente"
        class="registrar add"
      >
        Registra tu primera paciente
      </a>

    </div>
  </div>

  <mat-card class="example-card" *ngFor="let paciente of pacienteService.pacientes; index as i">
    <mat-card-header>
      <mat-card-title
        routerLink="especific"
        (click)="getPaciente( paciente._id )"
      >
        {{ paciente.nombreCortado | titlecase }} {{ paciente.apellidoCortado | titlecase }}
      </mat-card-title>
      <button
        class="desk"
        mat-icon-button
        color='primary'
        (click)='openAddCitaDesk( paciente._id, paciente.ginecoGestas )'
      >
        <mat-icon class="add">post_add</mat-icon>
      </button>
      <button
        class="movil"
        mat-icon-button
        color='primary'
        (click)='openAddCitaMovil( paciente._id, paciente.ginecoGestas )'
      >
        <mat-icon class="add">post_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <span>
          Edad:<b> {{ paciente.edad }} años</b>
        </span>
        <button
          mat-icon-button
          color='accent'
          routerLink="edit"
          routerLinkActive="active"
          (click)='editPaciente(paciente)'
        >
          <mat-icon class="edit">edit</mat-icon>
        </button>
      </div>
      <div class="row">
        <span>
          <div *ngIf="paciente.seguimiento; then si else no"></div>
          <ng-template #si>
            <b>Se sigue</b>
          </ng-template>
          <ng-template #no>
            <b>No se sigue</b>
          </ng-template>
        </span>
        <button
          class="desk"
          mat-icon-button
          color='warn'
          (click)='openDeleteDesk(paciente._id, "paciente")'
        >
          <mat-icon class="delete">delete</mat-icon>
        </button>
        <button
          class="movil"
          mat-icon-button
          color='warn'
          (click)='openDeleteMovil(paciente._id, "paciente")'
        >
          <mat-icon class="delete">delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="desk"
        mat-flat-button
        color='primary'
        (click)="openContactoDesk(i)"
      >
        Contacto
      </button>
      <button
        class="movil"
        mat-flat-button
        color='primary'
        (click)="openContactoMovil(i)"
      >
        Contacto
      </button>
      <button
        class="desk"
        mat-flat-button
        color='accent'
        (click)="openAntecedentesDesk(i)"
      >
        Antecedentes
      </button>
      <button
        class="movil"
        mat-flat-button
        color='accent'
        (click)="openAntecedentesMovil(i)"
      >
        Antecedentes
      </button>
    </mat-card-actions>
  </mat-card>

</div>
