<div class="container">

  <mat-card class="example-card" *ngFor="let paciente of pacienteService.pacientes">
    <mat-card-header>
      <mat-card-title>
        {{ paciente.nombre }} {{ paciente.apellido }}
      </mat-card-title>
      <a  mat-icon-button color='primary' href="">
        <mat-icon>post_add</mat-icon>
      </a>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <span>
          Edad: <b>{{ paciente.nacimiento }}</b>
        </span>
        <a mat-icon-button color='accent' href="">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
      <div class="row">
        <span>
          <div *ngIf="paciente.seguimiento; then si else no"></div>
          <ng-template #si>
            <b>Se sigue</b>
          </ng-template>
          <ng-template #no>
            <b>No se sigue</b>
          </ng-template>
        </span>
        <a mat-icon-button color='warn' href="">
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color='primary'>Contacto</button>
      <button mat-flat-button color='accent'>Antecedentes</button>
    </mat-card-actions>
  </mat-card>

</div>
