<div
  class="containerM"
>

  <div class="header">

    <h2
      mat-dialog-title
    >
      Are you sure yo want to delete this {{data.type}}?
    </h2>

    <span mat-dialog-close class="close">
      <mat-icon color='warn'>cancel</mat-icon>
    </span>

  </div>

  <mat-dialog-content>

    <p>
      <b>All</b> the data will be <b>errased premanently</b>
    </p>

  </mat-dialog-content>

  <mat-dialog-actions
    *ngIf="data.type === 'paciente'"
  >

    <button
      mat-flat-button
      class="delete"
      mat-dialog-close
      routerLink="/pacientes"
      (click)='deletePaciente(data.id)'
    >
      Delete
    </button>

    <button
      color='primary'
      mat-flat-button
      class="edit"
      mat-dialog-close
    >
      Cancel
    </button>

  </mat-dialog-actions>

  <mat-dialog-actions
    *ngIf="data.type === 'Cita Gineco'"
  >

    <button
      mat-flat-button
      class="delete"
      mat-dialog-close
      (click)='deleteCitaGineco(data.id)'
    >
      Delete
    </button>

    <button
      color='primary'
      mat-flat-button
      class="edit"
      mat-dialog-close
    >
      Cancel
    </button>

  </mat-dialog-actions>

  <mat-dialog-actions
    *ngIf="data.type === 'Cita Obst'"
  >

    <button
      mat-flat-button
      class="delete"
      mat-dialog-close
      (click)='deleteCitaObst(data.id)'
    >
      Delete
    </button>

    <button
      mat-flat-button
      class="edit"
      mat-dialog-close
    >
      Cancel
    </button>

  </mat-dialog-actions>

</div>
