<div *ngIf="data.type === 'gineco' ">
  <div class="gineco">
    <div class="header">
      <h1>
        Cita Ginecológica N° {{ ginecoService.selectedCitaGineco.visita }}

        <div class="icons">

          <mat-icon
            mat-dialog-close
            routerLink="citas/editCitaGineco"
            routerLinkActive="active"
            class="edit"
          >
            edit
          </mat-icon>
          <mat-icon
            (click)='openDelete(ginecoService.selectedCitaGineco._id, "Cita Gineco")'
            class="delete"
          >
            delete
          </mat-icon>
        </div>

      </h1>
      <div class="div close">
        <div class="fecha">
          Fecha: {{ ginecoService.selectedCitaGineco.createdAt | date }}
        </div>
        <span mat-dialog-close class="close">
          <mat-icon color='warn'>cancel</mat-icon>
        </span>
      </div>
    </div>
    <div class="content">
      <div class="left">
        <div class="historia">
          <h3><strong>Historia / Evolución</strong></h3>
          <div>
            {{ ginecoService.selectedCitaGineco.histEnfEvo }}
          </div>
        </div>
        <div class="estado">
          <h3><strong>Estado General</strong></h3>
          <div>{{ ginecoService.selectedCitaGineco.genEstado }}</div>
        </div>
        <div class="comentarios">
          <h3><strong>Comentarios</strong></h3>
          <div>{{ ginecoService.selectedCitaGineco.genComentarios }}</div>
        </div>
      </div>
      <div class="right">
        <div class="first">
          <div class="mamas">
            <h3><strong>Mamas</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoMamas }}</div>
          </div>
          <div class="genitales">
            <h3><strong>Vagina</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoGen }}</div>
          </div>
        </div>
        <div class="second">
          <div class="genExt">
            <h3><strong>Genitales Exterior</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoGenExt }}</div>
          </div>
          <div class="cervix">
            <h3><strong>Cervix</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoCervix }}</div>
          </div>
        </div>
        <div class="third">
          <div class="utero">
            <h3><strong>Útero y anexos</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoUtero }}</div>
          </div>
          <div class="impresion">
            <h3><strong>Impresión clínica</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoImpClin }}</div>
          </div>
          <div class="colpos">
            <h3><strong>Colposcopia</strong></h3>
            <div>{{ ginecoService.selectedCitaGineco.ginecoColpos }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data.type === 'obst' ">
  <div class="obst">
    <div class="header">
      <h1>
        Cita Obstétrica {{ obstService.selectedCitaObst.visita }} de la Gesta  N°{{ obstService.selectedCitaObst.gestas }}

        <div class="icons">

          <mat-icon
            mat-dialog-close
            routerLink="citas/editCitaObst"
            routerLinkActive="active"
            class="edit"
          >
            edit
          </mat-icon>
          <mat-icon
            (click)='openDelete(obstService.selectedCitaObst._id, "Cita Obst")'
            class="delete"
          >
            delete
          </mat-icon>
        </div>

      </h1>
      <div class="div">
        <div class="fecha">
          Fecha: {{ obstService.selectedCitaObst.createdAt | date }}
        </div>
        <span mat-dialog-close class="close">
          <mat-icon color='warn'>cancel</mat-icon>
        </span>
      </div>
    </div>
    <div class="content">
      <article class="left">
        <div class="top">
          <div class="div">
            <h4>Motivo</h4>
            {{ obstService.selectedCitaObst.motivo }}
          </div>
          <div class="div">
            <h4>Historia</h4>
            {{ obstService.selectedCitaObst.histEnfAct }}
          </div>
          <div class="div">
            <h4>Percepcion de movimientos Fetales</h4>
            {{ obstService.selectedCitaObst.percepFetal }}
          </div>
        </div>
        <div class="bottom">
          <div id="fechas">
            <div class="fechas">
              <h4>Ultima Menstruación:</h4>
              {{ obstService.selectedCitaObst.ultMenst | date }}
            </div>
            <div class="fechas">
              <h4>Penultima Menstruación:</h4>
              {{ obstService.selectedCitaObst.penMenst | date }}
            </div>
            <div class="fechas">
              <h4>Fecha de embarazo:</h4>
              {{ obstService.selectedCitaObst.fechaEmb | date }}
            </div>
            <div class="fechas">
              <h4>Fecha Probable:</h4>
              {{ obstService.fProbable  | date }}
            </div>
          </div>
          <div class="calc">

            <div class="dias">
              <h3>Edad Gestional</h3>
              <div>
                <span>
                  {{ meses }} meses y {{ conDias }} dias
                </span>
                <span>
                  {{ semanas }} semanas y {{ semDias }} dias
                </span>
                <span>
                  {{ dias }} dias
                </span>
              </div>
            </div>

            <div id="pesos">
              <div id="pAntes">
                <h4>Antes - Embarazo</h4>
                <span>
                  {{ obstService.selectedCitaObst.pesoAEmb }} Kg
                </span>
                <span>
                  {{ obstService.selectedCitaObst.altura }} cm
                </span>
                <span>
                  {{ imc1 }} IMC
                </span>
              </div>
              <div id="pDespues">
                <h4>Despues - Embarazo</h4>
                <span>
                  {{ obstService.selectedCitaObst.exGenPeso }} Kg
                </span>
                <span>
                  {{ obstService.selectedCitaObst.exGenAlt }} cm
                </span>
                <span>
                  {{ imc2 }} IMC
                </span>
              </div>
            </div>

          </div>
        </div>
      </article>

      <article class="right">

        <div class="left">

          <div id="fisico">
            <div id="general">
              <h4>Estado General</h4>
              {{ obstService.selectedCitaObst.exGenEstadoG }}
            </div>
            <div class="div3">
              <div class="box">
                <h4>P/A</h4>
                {{ obstService.selectedCitaObst.exGenPA }}
              </div>
              <div class="box">
                <h4>Pulso</h4>
                {{ obstService.selectedCitaObst.exGenPulso }}
              </div>
              <div class="box">
                <h4>F/R</h4>
                {{ obstService.selectedCitaObst.exGenFR }}
              </div>
            </div>
          </div>

          <div id="gineco">
            <h3>Examen Ginecológico</h3>
            {{ obstService.selectedCitaObst.exGineco }}
          </div>

        </div>

        <div id="obste">
          <h4>Examen Obstétrico</h4>
          <div class="obste">
            <h4>Abdomen</h4>
            {{ obstService.selectedCitaObst.exObsAbdom }}
          </div>
          <div class="obste">
            <h4>Movimientos Fetales</h4>
            {{ obstService.selectedCitaObst.exObsMovFet }}
          </div>
          <div class="obste">
            <h4>Altura Uterina</h4>
            {{ obstService.selectedCitaObst.exObsAltUt }}
          </div>
          <div class="obste">
            <h4>Circunferencia Abdominal</h4>
            {{ obstService.selectedCitaObst.exObsCircunAbdom }}
          </div>
          <div class="obste">
            <h4>FCF</h4>
            {{ obstService.selectedCitaObst.exObsFCF }}
          </div>
        </div>

      </article>

    </div>
  </div>
</div>
