@import '../../../../../variables.scss';

.container{
  margin: 1em 3em;
  color: $Cafe;
  cursor: default;

  .header{
    margin-bottom: 2.5em;

    @include flex-between();

    .close{
      cursor: pointer;
    }
  }

  table{
    width: 100%;
    overflow: scroll;
    margin-bottom: 3em;
    border-collapse: collapse;

    tr{
      height: 4em;
      border-bottom: 1px solid $BckG;

      th, td{
        text-align: center;
      }

      th{
        font-size: 1.1em;
      }

      td{

        &:first-child{
          width: 10%;
        }

        &:nth-child(2){
          width: 50%;
        }

        &:nth-child(3){
          width: 10%;
        }
      }

      &:hover{
        background-color: $RosaP;
        transition: .5s all ease;
        cursor: pointer;
      }

      &:first-child{
        cursor: default;
      }
    }
  }

  .tableObst{
    tr{

      td{

        &:first-child,
        &:nth-child(2){
          width: 10%;
        }

        &:nth-child(3){
          width: 65%;
        }

        &:nth-child(4){
          width: 30%;
        }
      }
    }
  }

  .noExiste{
    font-size: 1.5em;
    text-align: center;
    margin: 9% 0em;
  }
}
