<div class="container">

  <h2>{{pacienteService.selectedPaciente.nombre}} {{pacienteService.selectedPaciente.apellido}}</h2>

  <div class="content">
    <div class="row">
      <article>
        <h2>Antecedentes Personales</h2>
        <p>{{pacienteService.selectedPaciente.antecedentePersonal}}</p>
      </article>
      <article>
        <h2>Antecedentes Familiares</h2>
        <p>{{pacienteService.selectedPaciente.antecedenteFamiliar}}</p>
      </article>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
  </div>

</div>

