//varibles
$Gris: #bbb7ae;
$RosaP: #fce0e3;
$Cafe: #816a63;
$RosaF: #f49b9f;

form {
  margin: 5% 12%;

  .row,
  .column {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .numero {
      height: 100%;
      font-size: 3em;
      height: fit-content;
      width: 8.5%;

      align-self: flex-start;
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0cm;
        margin-bottom: 1em;
        height: fit-content;
        box-sizing: border-box;
      }
    }

    .semanas,
    .diasEmb,
    .meses,
    .conDias,
    .numero {
      text-align: center;
    }

    .textarea-1,
    .motivo {
      width: 72.5%;
      align-self: center;
    }

    .textarea-2 {
      width: 45%;
      align-self: stretch;
    }

    .resultados {
      color: $Cafe;
      background-color: $RosaP;
      margin: .25em 0em 1.34375em 0em;
      border-radius: .4em;
      border: 1px solid $Gris;
      filter: opacity(90%);

      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover{
        filter: opacity(100%);
      }

      table{
        padding: 1em 0em;
        align-self: center;

        th, td{
          text-align:center;
        }
        tr{
          th::after{
            content: "";
            display: block;
            bottom: 0px;
            left: 0px;
            background-color: $RosaF;
            height: 2px;
            width: 0%;
            transition: .8s all ease-out;
          }

          &:hover{
            th{
              &::after{
                content: "";
                  width: 100%;
                  transition: .8s all ease-out;
              }
            }
          }

          &:nth-child(3){
            padding-top: 1em;
          }
        }
        td:hover{
          background-color: $RosaF;
          transition: .8s all ease;
        }
      }
    }

    .column {
      flex-direction: column;

      .date,
      .input {
        width: 100%;
      }

      .date {
        align-self: flex-end;
      }
    }
  }

  .col {
    flex-direction: column;

    .row {
      .textarea-1 {
        width: 65%;
      }

      .column,
      mat-form-field {
        width: 30%;

        flex-direction: row;
        flex-wrap: wrap;
        align-self: center;
      }
    }

    &:nth-child(9) {
      .row {
        .column:nth-child(2) {
          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 5em;

    .error {
      color: white;
      width: fit-content;
      background-color: #f44336;
    }
  }

  h2 {
    margin-top: 1.5em;
  }

  h1, h2, th, td, .error{
    cursor: default;
  }

  .textarea-3 {
    width: 30%;
  }

  .input,
  .resultados,
  .column,
  .numero {
    width: 17.4%;
  }
}
