@import '../../../../variables.scss';

.container {
  margin: 7%;

  display: flex;
  justify-content: center;

  @include colorsBtn();

  .mat-card{
    color: $Cafe;
    width: 40%;
    min-width: 21em;
    padding: 2em;

    @include flex-column-between();

    .mat-card-content{
      @include flex-column-between();
      align-items: center;

      form{
        @include flex-column-between();
        align-items: center;
        width: 100%;
        margin-top: 2em;
      }

      .mat-form-field{
        width: 90%;
      }
    }

    .mat-card-actions{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 0em;
      padding-bottom: 0em;
      padding-top: 2em;

    }
  }
}

@media (max-width: 900px){
  .container{
    .mat-card{
      width: 80%;
    }
  }
}
