@import '../../.././../variables.scss';

.container{
  height: 92.7vh;
  display: flex;
  justify-content: center;

  .img{

    height: 80vh;
    width: 100%;
    background-position: bottom;
    background-image: url('../../../../assets/enfermerasRosa.svg');
    background-size: contain;
    background-repeat: no-repeat;

    align-self: flex-end;
  }

  .absolute{
    position: absolute;
    height: 12em;
    bottom: 55%;
    text-align: center;

    @include flex-column-between();

    h1{
      font-size: 6em;
    }

    p{
      font-size: 1.5em;
    }

  }
}
