<div style="font-size: 15px">

  <mat-form-field appearance='fill' class="example-full-width">
    <mat-label>Buscar Paciente...</mat-label>
    <input
    type="text"

    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
    >
    <mat-icon matSuffix>
      search
    </mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async; index as i">
        <a routerLink="pacientes/especific" (click)='getPaciente(ids[i])' >{{option}}</a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
