@import '../../../../variables.scss';

.mat-toolbar {
  height: fit-content;
  padding: 0 6%;
  background-color: $Cafe;

  @include flex-between();

  .div {
    width: 24em;

    @include flex-between();
    align-content: center;

    app-autocomplete{
      align-self: center;
    }

    button{
      height: fit-content;
      align-self: center;
      background-color: $RosaF;
    }
  }
}
