.container {
font-size: 1.2em;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .close {
    float: right;
    height: fit-content;
    cursor: pointer;
  }

  .content{
    width: 100%;
    height: 100%;

    .table{
      margin-left: 2em;
      float: left;
      height: 100%;
    }

    .column{
      height: 100%;
      width: 60%;
      float: right;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .section{
        display: flex;
        justify-content: space-between;
        h3{
          width: 40%;
        }

        p{
          text-align: right;
          width: 60%;
        }
      }
    }
  }
}
