@import '../variables.scss';

body{
  background-color: $CafeS;
}

.movil{
  display: none;
}

@media( max-width: 800px ){

  .desk{
    display: none;
  }
  .movil{
    display: block;
  }

  mat-sidenav-container{
    background-color: $CafeS;
    height: 100%;

    mat-sidenav{
      background-color: $RosaP;
      width: 260px;
      padding: 16px;

      h1{
        text-align: center;
        color: $Cafe;
        margin-top: .5em;
        margin-bottom: 2em;
      }

      app-autocomplete, p{
        width: 100%;

        div{
          .mat-form-field{
            .placeholder {
              color: $RosaF;
            }
          }
        }
      }

      .div{

        p{
          @include colorsBtn();
          button{
            width: 100%;
            margin-top: 1.5em;
          }
        }
      }
    }

    mat-sidenav-content{
      .container{
        height: 4em;
        padding: 0 6%;
        background-color: $Cafe;

        @include flex-between();
        @include colorsBtn();

        h1{
          height: fit-content;
          color: white;
          margin-bottom: 0em;
          cursor: pointer;

          align-self: center;
        }

        button{
          height: fit-content;
          align-self: center;
          background-color: $RosaF;
        }
      }
    }
  }
}
