<mat-sidenav-container>
  <mat-sidenav #sidenav >

    <h1
      routerLink="/home"
      (click)="sidenav.close()"
    >Consultorio App</h1>

    <app-autocomplete [color]='"cafe"'></app-autocomplete>

    <div class="div">

      <p>
        <button
          mat-flat-button
          [matMenuTriggerFor]="pacientes"
          color="primary"
          *ngIf="authService.loggedIn()"
          class="edit"
        >
          Pacientes
        </button>
      </p>

      <mat-menu
        #pacientes="matMenu"
        xPosition="after"
      >
        <a
          mat-menu-item
          routerLink="pacientes"
          routerLinkActive="active"
          (click)="sidenav.close()"
        >
          Pacientes
          <mat-icon>assignment_ind</mat-icon>
        </a>
        <a
          mat-menu-item
          routerLink="pacientes/addPaciente"
          routerLinkActive="active"
          (click)="clearAll()"
          (click)="sidenav.close()"
        >
          Nueva paciente
          <mat-icon>add_circle</mat-icon>
        </a>
      </mat-menu>

      <p>
        <button
          mat-flat-button
          [matMenuTriggerFor]="login"
          class="edit"
          *ngIf="!authService.loggedIn()"
        >
          Ingresar
        </button>

        <button
          mat-flat-button
          class="add"
          *ngIf="authService.loggedIn()"
          (click)='logOutUser()'
          (click)="sidenav.close()"
        >
          Logout
        </button>
      </p>

      <mat-menu
        #login="matMenu"
        xPosition="after"
      >
        <a
          mat-menu-item
          routerLink="auth/signin"
          routerLinkActive="active"
          (click)="sidenav.close()"
        >
          Login
          <mat-icon>arrow_forward</mat-icon>
        </a>
        <a
          mat-menu-item
          routerLink="auth/signup"
          routerLinkActive="active"
          (click)="sidenav.close()"
        >
          Registro
          <mat-icon>account_circle</mat-icon>
        </a>
      </mat-menu>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container movil">

      <h1
        routerLink="home"
      >ConsultorioApp</h1>

      <button
        mat-flat-button
        color="primary"
        (click)="sidenav.toggle()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
        >
          menu
        </mat-icon>
      </button>

    </div>

    <app-navegacion class="desk"></app-navegacion>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
