form{
  margin: 5% 12%;

  .row{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .column{
      width: 35%;
      div{
        display: flex;
        flex-direction: column;
      }
    }

    .motivo{
      width: 80%;
    }

    .numero{
      font-size: 3em;
      text-align: center;
      height: fit-content;
      width: 15%;

      align-self: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2{
        height: fit-content;
        box-sizing: border-box;
      }
    }

    .textarea-1{
      width: 55%;
      align-self: flex-end;
    }

    .textarea-2{
      width: 45%;
    }

    .textarea-3{
      width: 28%;
    }

  }

  mat-divider{
    margin: 2em 0em 2em 0em;
  }

  .footer{
    margin-top: 2em;

    .error{
      color: white;
      width: fit-content;
      background-color: #f44336;
    }
  }
}
