@import '../../../../../../variables.scss';

.container {
  color: $Cafe;
  font-size: 1.2em;
  height: 100%;
  margin: 0em 2em;
  cursor: default;

  @include flex-column-between();

  .header {
    margin-bottom: 1.2em;

    @include flex-between();

    h2{
      font-size: 2em;

      b:hover{
        text-decoration: underline;
      }
    }
  }

  .close {
    float: right;
    height: fit-content;
    cursor: pointer;
  }

  .content {
    width: 100%;
    height: 100%;

    .table {
      float: left;
      width: 23%;
      height: 100%;
      border-radius: 5em;
      border-collapse: collapse;
      border-radius: 1em;
      tr{
        &:nth-child(odd) {
          background-color: $RosaF;
        }

        &:nth-child(even) {
          background-color: $RosaP;
        }
      }

      td,
      th {
        text-align: left;
        border-bottom: 1px solid $BckG;
        padding: 0em 1.5em;
        max-width: 3em;

      }
      td{

        overflow: auto;
      }

      .menorrea {
        text-align: center;
      }
    }

    .column {
      height: 100%;
      width: 65%;
      float: right;

      @include flex-column-between();
      justify-content: space-around;

      .section {
        height: 100%;
        padding: 0em 1em;

        @include flex-between();

        h3 {
          font-size: 1em;
          width: 40%;

          align-self: center;
        }

        p {
          text-align: right;
          height: fit-content;
          width: 60%;
          overflow: auto;

          align-self: center;
        }
      }

      .section:hover{
        background-color: $RosaP;
        transition: .5s all ease;
      }
    }
  }
}

@media(max-width: 1050px){
  .container{
    height: auto;
    .content{
      width: 100%;
      height: 100%;
      @include flex-column-between();
      .table{
        height: 20em;
        width: 80%;
        margin-bottom: 2em;
        float: none;
        align-self: center;

        td{
          text-align: right;
        }
      }

      .column{
        height: 30em;
        width: 100%;
        float: none;
      }
    }
  }
}
