<div class="containerM">
  <div class="header">

    <h2 mat-dialog-title>
      Antecedentes de
      <b>
        {{ pacienteService.pacientes[data.i].nombreCortado | titlecase}}
        {{ pacienteService.pacientes[data.i].apellidoCortado | titlecase}}
      </b>
    </h2>

    <span mat-dialog-close class="close">
      <mat-icon color='warn'>cancel</mat-icon>
    </span>

  </div>

  <div class="content">

    <table class="table">
      <tbody>

        <tr>
          <th>Gestas:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoGestas}}</td>
        </tr>
        <tr>
          <th>Paras:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoParas}}</td>
        </tr>
        <tr>
          <th>Abortos:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoAbortos}}</td>
        </tr>
        <tr>
          <th>Cesareas:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoCesareas}}</td>
        </tr>
        <tr>
          <th>Otros:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoOtros}}</td>
        </tr>
        <tr>
          <th>Ciclos:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoCiclos}}</td>
        </tr>
        <tr>
          <th>Menopausia:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoMenopausia}}</td>
        </tr>
        <tr>
          <th>Menarquia:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoMenarquia}}</td>
        </tr>
        <tr>
          <th>PRS:</th>
          <td>{{pacienteService.pacientes[data.i].ginecoPRS}}</td>
        </tr>
        <tr>
          <th colspan="2" class="menorrea">
            <div *ngIf="pacienteService.pacientes[data.i].ginecoMenorrea">
              <span><b>Eumenorreica</b></span>
            </div>
            <div *ngIf="!pacienteService.pacientes[data.i].ginecoMenorrea">
              <span><b>Dismenorreica</b></span>
            </div>
          </th>
        </tr>
      </tbody>
    </table>

    <div class="column">
      <section class="section">
        <h3><b>Antecedentes Personales:</b></h3>
        <p>
        {{pacienteService.pacientes[data.i].antecedentePersonal}}
        </p>
      </section>
      <mat-divider></mat-divider>
      <section class="section">
        <h3><b>Antecedentes Familiares:</b></h3>
        <p>
          {{pacienteService.pacientes[data.i].antecedenteFamiliar}}
        </p>
      </section>
      <mat-divider></mat-divider>
      <section class="section">
        <h3><b>Método:</b></h3>
        <p>
          {{pacienteService.pacientes[data.i].ginecoMetodo}}
        </p>
      </section>
      <mat-divider></mat-divider>
      <section class="section">
        <h3><b>Terapia de Reemplazo Hormonal:</b></h3>
        <p>
          {{pacienteService.pacientes[data.i].ginecoTRH}}
        </p>
      </section>
    </div>

  </div>
</div>
