@import '../../../../variables.scss';

form {
  padding: 5% 12%;
  padding-bottom: 3%;

  .row{
    margin-bottom: 3em;
  }
  .row,
  .column {
    width: 100%;
    @include flex-between();

    .numero{
      align-items: center;
    }

    #column-3{
      height: 15.5em;
    }

    #col-6{
      height: 9em;

      @include flex-between();
    }

    .numeros {
      width: 17.4%;
      display: flex;
      justify-content: space-around;

      .numero {
        height: 100%;
        font-size: 2em;
        height: fit-content;
        width: fit-content;

        @include flex-column-between();
        align-self: flex-start;

        h2 {
          font-size: .7em;
          margin: 0cm;
          margin-bottom: 1em;
          height: fit-content;
          box-sizing: border-box;
        }
      }
    }

    .textarea {
      width: 100%;
    }

    .textarea-1,
    .motivo {
      width: 72.5%;
    }

    .textarea-2 {
      width: 45%;
    }

    .resultados {
      @include card();
      background-color: $Blanco;
      padding: 0em;

      @include flex-column-between();
      align-items: center;

      table {
        padding: 1em 0em;
        align-self: center;

        tr{
          height: 2em;
          th,
          td {
            text-align: center;
          }
        }

        td:hover {
          background-color: $RosaF;
          transition: .8s all ease;
        }
      }
    }

    .column {
      flex-direction: column;

      .date,
      .input {
        width: 100%;
      }

      .date {
        align-self: flex-end;
      }
    }
  }

  .col {
    flex-direction: column;

    .row {
      margin-bottom: 0em;
      .textarea-1 {
        width: 65%;
      }

      .column,
      mat-form-field {
        width: 30%;

        flex-direction: row;
        flex-wrap: wrap;
        align-self: center;
      }
    }
  }

  .wrap {
    flex-wrap: wrap;

    .textarea-5 {
      width: 30%;
      min-width: 20em;
    }
  }

  .examenGineco {
    flex-direction: column;
  }

  .footer {
    margin-top: 4em;

    @include flex-between();
    flex-direction: row;

    button {
      height: fit-content;
    }

    .error {
      color: $Blanco;
      width: fit-content;
      background-color: $Rojo;
    }
  }

  h1,
  h2,
  th,
  td,
  .error {
    cursor: default;
  }

  .input,
  .resultados,
  .column,
  .numero {
    width: 17.4%;
  }
}

.mat-form-field{
  align-self: center;
}

@media (max-width: 770px){
  form{

    .row{
      @include flex-column-between();
      margin-bottom: 0em;
      .numeros{

        width: 25%;
      }

      .textarea-1, .textarea-2,.textarea-3{
        width: 100%;
      }

      .column{
        width: 85%;
        align-self: center;
      }

      #column-3{
        height: fit-content;
        width: 85%;
        margin: 1em 0em;
        align-self: center;
        flex-direction: row;

        .mat-form-field{
          width: 30%;
        }
      }

      .resultados{
        height: 7em;
        width: 100%;
        margin-bottom: 1em;

        table{
          display: flex;
        }
      }
    }

    mat-divider{
      margin: 1em 0em;
    }

    .row:nth-child(5){
      flex-direction: row;
    }

    .col{
      .row{
        .textarea-1{
          width: 100%;
        }

        #col-6{
          width: 90%;
        }
      }
      .wrap {
        .textarea-5 {
          width: 100%;
        }
      }
    }

    .footer{
      width: 100%;
      margin-top: 2em;
      @include flex-column-between();
      flex-direction: column-reverse;
      align-items: center;

      button{
        width: 100%;
        margin-top: 1em;
      }

      .error{
        width: fit-content;
        text-align: center;

      }
    }
  }
}
