@import '../../../../../../variables.scss';

.containerM {
  color: $Cafe;

  height: 100%;
  @include flex-column-between();

  .header {
    @include flex-between();

    span{
      mat-icon{
        cursor: pointer;
      }
    }
  }

  .footer {
    width: 50%;

    @include flex-between();
    align-self: center;

    button:first-child{
      background-color: $RosaF;
    }

    button:last-child{
      background-color: $Azul;
    }

    .example-tooltip-red {
      background: $Rojo;
    }
  }

}
