<div class="containerM">

  <div class="header">
    <h2>Which kind of cita do you want to register?</h2>

    <span
      mat-dialog-close
      class="close"
    >
      <mat-icon color='warn'>cancel</mat-icon>
    </span>
  </div>

  <div class="footer">

  <button
    color='primary'
    mat-flat-button
    mat-dialog-close
    (click)='citaGineco(data.id)'
    routerLink="/citas/addCitaGineco"
  >
    Gineco
  </button>

  <button
    mat-flat-button
    mat-dialog-close
    color='primary'
    *ngIf="data.gestas != 0"
    (click)='citaObst(data.id, data.gestas)'
    routerLink="/citas/addCitaObst"
  >
    Obst
  </button>

  <button
    *ngIf="data.gestas === 0"
    mat-flat-button
    color='primary'
    #tooltip="matTooltip"
    matTooltip="This pacientes has 0 gestas, can't create a new ObstCita"
    matTooltipClass="example-tooltip-red"
    aria-label="Button that shows a red tooltip"
  >
    Obst
  </button>


  </div>
</div>
