@import '../../../../variables.scss';

h1 {
  text-align: center;
  font-size: 4em;
  margin: 1em;
}

form {
  margin: 5% 12%;
  padding-bottom: 3%;

  .row {
    align-self: center;
    margin-bottom: 2em;

    @include flex-between();

    mat-form-field {
      width: 28%;
    }

    .apellido,
    .nombre {
      width: 32%;
    }

    .textarea {
      width: 45%;
    }

    .gestas,
    .paras,
    .abortos,
    .cesareas,
    .seguimiento,
    .menorrea,
    .ciclos,
    .otros,
    .menopausia,
    .menarquia,
    .menopausia,
    .ginecoPRS{
      align-self: center;
      width: 15%;
    }

    .error {
      color: $Blanco;
      width: fit-content;
      background-color: $Rojo;
    }

    .group {
      @include flex-between();

      button {
        height: fit-content;

        &:nth-child(2){
          margin-left: 2em;
        }
      }
    }
  }
}

h2,h3{
  margin: 1em 0em 1.5em 0em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}
