.container {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    justify-content: space-between;

    span{
      mat-icon{
        cursor: pointer;
      }
    }
  }

  .footer {
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-self: center;
  }

}
