@import '../../../../variables.scss';

form{
  margin: 5% 12%;
  padding-bottom: 3%;

  .row{
    width: 100%;
    margin-bottom: 1em;

    @include flex-between();

    .column{
      width: 35%;

      div{
        @include flex-column-between();
      }
    }

    .motivo{
      width: 80%;
    }

    .numero{
      font-size: 3em;
      text-align: center;
      height: fit-content;
      width: 15%;

      align-self: flex-start;
      @include flex-column-between();

      h2{
        height: fit-content;
        box-sizing: border-box;
      }
    }

    .textarea-1{
      width: 55%;
      align-self: flex-end;
    }

    .textarea-2{
      width: 45%;
    }

    .textarea-3{
      width: 28%;
    }

  }

  mat-divider{
    margin: 2em 0em;
  }

  .footer {
    margin-top: 4em;

    @include flex-between();
    flex-direction: row;

    button{
      height: fit-content;
      width: fit-content;
    }

    .error {
      color: $Blanco;
      background-color: $Rojo;
      width: fit-content;
    }
  }
}

@media (max-width: 770px){
  form{


    .row{
      @include flex-column-between();
      margin-bottom: 0em;

      .textarea-1, .textarea-2,.textarea-3{
        width: 100%;
      }

      .column{
        width: 100%;

      }
    }

    mat-divider{
      margin: 1em 0em;
    }

    .row:nth-child(4){
      flex-direction: row;
    }


    .footer{
      width: 100%;
      margin-top: 2em;
      @include flex-column-between();
      flex-direction: column-reverse;
      align-items: center;

      button{
        width: 100%;
        margin-top: 1em;
      }

      .error{
        width: fit-content;
        text-align: center;

      }
    }
  }
}
