<div class="container">

  <div class="header">

    <h2
      mat-dialog-title
    >
      Are you sure yo want to delete this paciente?
    </h2>

    <span mat-dialog-close class="close">
      <mat-icon color='warn'>cancel</mat-icon>
    </span>

  </div>

  <div class="content">

    <p>
      <b>All</b> the data will be <b>errased premanently</b>
    </p>

  </div>

  <div class="footer">

    <button
      mat-flat-button
      color='warn'
      mat-dialog-close
      routerLink="/pacientes"
      (click)='deletePaciente(data.id)'
    >
      Delete
    </button>

    <button
      color='primary'
      mat-flat-button
      mat-dialog-close
    >
      Cancel
    </button>

  </div>

</div>
