@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  color: $Cafe;
  background-color: $CafeS;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.backG{
  background-color: $BckG;
}

.add{
  color: $Azul;
}
.edit{
  color: $RosaP;
}
