//varibles
$BckG : #fcfcfc;
$RosaP: #fce0e3;
$Cafe: #816a63;
$RosaF: #f49b9f;

html,
body {
  height: 100%;
}

body {
  color: $Cafe;
  background-color: $BckG;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.mat-dialog-container {
  background-color: $BckG;
}
