@import '../../../../../../variables.scss';

*{
  color: $Cafe;
}

.container {
  height: 100%;
  margin: 0em 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    h2{
      font-size: 1.5em;

      b:hover{
        text-decoration: underline;
        cursor: default;
      }
    }
  }

  .close {
    float: right;
    height: fit-content;
    cursor: pointer;
  }

  table {
    font-size: 1.1em;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    tr {
      font-size: 1.1em;
      padding: .5em;
      transition: .5s all ease-out;

      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      th,td{
        align-self: center;
      }
      &:hover{
        background-color: $RosaP;
        cursor: default;
      }
    }


  }
}
